{% include "views/default/header.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/bienvenido.css' %}">

<div class="card text-center">
  
  <div class="card-header">


    
    
    
    
    {% if user.is_authenticated %}
    
    {% if request.user.is_superuser %}
    <h2>Bienvenido has iniciado como usuario de Administrador
      
      {% else %}
      {% for i in request.user.groups.all %}
      
      <h2>Bienvenido has iniciado como usuario de {{i}} </h2>
      
      
      {% endfor %}
      {% endif %}
      {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title"><img src="{%static 'images/BIENVENIDOS.png'%}" class="imglogo" alt=""></h5>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

{% include "views/default/footer.html" %}