{% include "views/default/header.html" %}

{%load static%}

<div class="card container">
    <div class="card-header">{{name}}</div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                   <th>Estudiante</th>
                   
                    <th>Comprobante</th>                               
                    
                    <th>Opciones</th>                               
                   
                </tr>
            </thead>
            <tbody>
                {% for items in object_list %}
                <tr>
                    <td> {{items.id_est}}</td>
                    
                    <td>  
                        <a href="{{items.file_comp.url}}" alt="{{items.id_est}}" target="_blank"> <img
                            src="{%static 'images/doc.png'%}" class="imgmenu"></a>
                    </td>
              
                    <td>
                        <a href="/representante/comprobante/edit/{{items.i_comp}}" class="btn btn-outline-warning">Editar</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="addComprobante" type="button" class="btn btn-primary">Agregar Comprobante</a>

    </div>
</div>






  {% include "views/default/footer.html" %}