{% include "views/default/header.html" %}
{% include "views/default/direccion.html" %}


<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<div class="container">
  <div class="card">
    <div class="card-header">{{name}}</div>
    {{form.errors}}

    {% if errores %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> {{errores}}
    </div>
    {% endif %}

    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if info %}
        <h2> Está seguro de eliminar a <b style="color: red;">{{info.object}}</b> </h2>
        {% endif %}
        {% for field in form %}
        {% if field.name == 'estudiante' %}
        <label for="id_est">Estudiante</label>
        <select class="form-select" name="estudiante" required id="id_est">
          {% for i in estudiantes %}
          <option value="{{i.id_est}}">{{i.Estudiante}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'id_est' %}
        <label for="id_est">Estudiante</label>
        <select class="form-select" name="id_est" required id="id_est">
          <option value="0">Seleccione un Estudiante</option>
          {% for i in estudiantes %}
          <option value="{{i.id_est}}">{{i.Estudiante}}</option>
          {% endfor %}
        </select>
        <!-- AsignarNiveles asignación de niveles
        @param asignacion
        @action filtro por programa
        -->
        {% elif field.name == 'asignacion' %}
        <label for="id_materias">{{tipoOpcion}}</label>
        <select class="form-select" name="materia" required id="id_materias">
          <option value="0">Seleccione una opción</option>
          {% for i in materia %}
          <option value="{%if descripcion == 'Nivel'%}{{i.id}}{% else %}{{i.nombre}}{% endif  %}">{{i}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'nivel' %}
          {% if descripcion == 'Nivel' %}
            <label for="id_nivel">{{descripcion}}</label>
          <select class="form-select" name="nivel" required id="id_nivel">
            <option value="">Seleccione un opción</option>
            {% for i in nivel %}
            <option value="{{i.id}}">{{i}}</option>
            {% endfor %}
          </select>
          {% endif %}
        <div id="estudiante">
        </div>
        {% elif field.name == 'nivel_comp' %}
        <label for="id_nivel">Nivel</label>
        <select class="form-select" name="nivel_comp" id="nivel_comp">
          <option value="">Seleccione un nivel</option>
          {% for i in nivel %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        <div id="estudiante">
        </div>

        {% elif field.name == 'estudiantes' %}
        <label for="id_estudiantes">Estudiantes a matricular</label>
        <select class="form-select" name="estudiantes" multiple required id="id_estudiantes">
          {% for i in estudiantes %}
          <option value="{{i.id_est}}">{{i}}</option>
          {% endfor %}
        </select>
        <!-- CursoController - metodo AsignacionCursosAdd
        @param AsignacionCurso
        @action add AsignacionCursoEstudiante
        -->
        {% elif field.name == 'asignacionCurso' %}
        <label for="id_asignacionCurso">Asignación de Curso</label>
        <select class="form-select" name="asignacionCurso" required id="id_asignacionCurso">
          <option value selected>Seleccione una opción</option>
          {% for i in addCursos %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        <!-- Add link de ventana para agregar AsignacionCurso -->
        <a class="related-widget-wrapper-link add-related" id="add_id_asignacionCurso"
          href="/admin/User/asignacioncurso/add/?_to_field=id&amp;_popup=1" title="Añadir otro asignacion curso"><img
            src="/static/admin/img/icon-addlink.svg" alt="Añadir">Agregar</a><br>
          
        
        {% elif field.name == 'estudiantes_curso' %}
        <div id="asignacionEstudianteCurso" ></div>
        {% elif field.name == 'programa_general' %}
        {{field.label}}
        {{field}}
        {% elif field.name == 'usuario' %}
        <div id="usuario" ></div>
        {% elif field.name == 'nivel_Paralelo' %}
        <div id="nivelParalelo"></div>

        {% elif field.name == 'paralelo' %}
        <label for="id_paralelo">Seleccione matrícula actual</label>
        <select class="form-select" name="paralelo" required id="id_paralelo">
          <option value="0">Seleccione una opción</option>
          {% for i in paralelo %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        <a class="related-widget-wrapper-link add-related"
          href="http://127.0.0.1:8000/admin/User/paralelo/add/?_to_field=id&_popup=1" id="add_id_paralelo"
          title="Añadir otra"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir">Añadir otra </a>

        <br>
        {% elif field.name == 'nivel' and niveles %}
        <br>
        {% elif field.name == 'materia' %}
        <label for="id_materia">Materia</label>
        <select class="form-select" name="materia" required id="id_materia">
          {% for i in materia %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        <div id="estuadiantes"></div>
        <!-- 
          Método AgregarEstudiantes
          Asignación de paralelo 
          @param asignacionEstudiantes
         -->
        {% elif field.name == 'asignacionEstudiantes' %}
        <div id="opc_est"></div>
        <div id="asig_est"></div>
        {% elif field.name == 'niveles' %}
        <label for="id_niveles">Seleccione el Nivel</label>
        <select class="form-select" name="niveles" required id="id_niveles">
          <option value="" selected>Seleccione una opción</option>
          {% for i in nivel %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'fecha_est' or field.name == 'fecha' or field.name == 'Fecha' %}
        <label for="{{field.name}}">{{field.label}}</label>
        <input type="date" name="{{field.name}}" class="form-control" id="{{field.name}}">
        {% elif field.name == 'estudiante' %}
        <label for="id_estudiante">Estudiantes</label>
        <select name="estudiante" id="id_estudiante" class="form-select">
          {% for i in estudianteAdd %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>

        {% elif field.name == 'curso_id' %}
        <label for="curso_id">Curso</label>
        <select name="curso_id" id="id_curso_id" class="form-select">
          {% for i in cursosUsuario %}
          <option value="{{i.id_curso}}">{{i.nombre_curso}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'id_rep' %}
        <input type="hidden" name="id_rep" value="{{request.user.pk}}">
        {% elif field.name == 'id_direccion' %}
        {{field.label}}
        <div class="input-group">
          {{field}}
          <div class="input-group-append">

            <a class="related-widget-wrapper-link add-related btn btn-outline-success " id="add_id_id_direccion"
              href="/admin/app/direccion/add/?_to_field=id_direc&amp;_popup=1" title="Añadir otro direccion"
              title="Añadir otro ciudad"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"
                type="button">Agregar otra</a>
            <br>
          </div>
        </div>
        <br>

        {% else %}
        {{field.label}}
        {{field}}
        {% endif %}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href='{{regresar}}' class="btn btn-primary">Regresar</a>
      </form>
    </div>
  </div>
</div>



<!-- Para verificar si es Nivel o Estudiante al agregar check -->


<script type="text/javascript">
  $('#id_materias').on('change', function () {
    if("{{descripcion}}" == 'Nivel'){
      $('#id_nivel').val("");
      let datos = document.getElementById('estudiante');
          datos.innerHTML = '';
    }else{
      let materia = $('#id_materias').val();
      $.ajax({
        url: '/getinfo/',
        method: 'POST',
        data: { 'opcion': 'Estudiante', 'materia': materia }
      }).done((req) => {
        console.log('Request: ', req);
        let opciones = '<br>';
        opciones += '<label for="id_asignacion">Lista de Estudiantes</label>';
        opciones += '<select multiple class="form-select" required name="asignacion" id="id_asignacion" >';
        $.each(req, (key, val) => {
          opciones += '<option value="' + val.estudiantes.id_est + '">' + val.estudiantes.nombres_est + ' ' + val.estudiantes.apellidos_est + '</option>';
        });
        opciones += '</select>';
        opciones += '<br>';
        let datos = document.getElementById('estudiante');
        datos.innerHTML = opciones;
      });

    }
  });
  // Función para asígnar estudiantes a un curso con su docente y/o pariodo
  $('#id_asignacionCurso').on('change', function () {
    let idCursoPeriodo = $(this).val();
      if(idCursoPeriodo != ''){
        $.ajax({
          url: '/getinfo/',
          method: 'POST',
          data: { 'opcion': 'addCurso', 'idCursoPeriodo': idCursoPeriodo }
        }).done((req) => {
          console.log('Request: ', req);
          let opciones = '<br>';
          opciones += '<label for="id_estudiantes_curso">Lista de Estudiantes</label>';
          opciones += '<select multiple class="form-select" required name="estudiantes_curso" id="id_estudiantes_curso" >';
          $.each(req, (key, val) => {
            opciones += '<option value="' + val.id_est + '">' + val.nombres_est + ' ' + val.apellidos_est + '</option>';
          });
          opciones += '</select>';
          opciones += '<br>';
          let datos = document.getElementById('asignacionEstudianteCurso');
          datos.innerHTML = opciones;
        });

      }
    
  });
  
  //Asignación de Docente
  $('#id_programa_general').on('change', function () {
    document.getElementById('usuario').innerHTML = '';
    let idProgramaG = $(this).val();
      if(idProgramaG != ''){
        $.ajax({
          url: '/getinfo/',
          method: 'POST',
          data: { 'addPro': 'addPro', 'idProgramaG': idProgramaG }
        }).done((req) => {
          console.log('Request: ', req);
          let opciones = '<br>';
          opciones += '<label for="id_usuario">Lista de Docentes</label>';
          opciones += '<select class="form-select" required name="usuario" onclick="getNivel()" id="id_usuario" >';
            opciones += '<option value="">Seleccione un Docente</option>';
          $.each(req, (key, val) => {
            opciones += '<option value="' + val.id+ '">' + val.nombre+ '</option>';
          });
          opciones += '</select>';
          opciones += '<br>';
          let datos = document.getElementById('usuario');
          datos.innerHTML = opciones;
        });

      }
      document.getElementById('nivelParalelo').innerHTML = '';
    
  });
  // eliminación de nivel registrado un docente
  function getNivel() {
    let idDocente = $('#id_usuario').val();
    let idPrograma = $('#id_programa_general').val();
    if(idDocente && idPrograma){
        document.getElementById('nivelParalelo').innerHTML = '';
        $.ajax({
          url: '/getinfo/',
          method: 'POST',
          data: { 'idPrograma': idPrograma, 'idDocente': idDocente }
        }).done((req) => {
          console.log('Request: ', req);
          let opciones = '<label for="id_nivel_Paralelo">Nivel Paralelo</label>';
          opciones += '<select class="form-select" required name="nivel_Paralelo" id="id_nivel_Paralelo" >';
          opciones += '<option value="">Seleccione un Nivel</option>';
          $.each(req, (key, val) => {
            opciones += '<option value="' + val.id+ '">' + val.nivel+ '</option>';
          });
          opciones += '</select>';
          opciones += '<br>';
          let nivel = document.getElementById('nivelParalelo');
          nivel.innerHTML = opciones;
        });
      }
    
  }
  
  
  $('#id_nivel').on('change', function () {
    let nivel = $(this).val();
    let materia = $('#id_materias').val();
    let opcion = "{{descripcion}}";
    if (materia != 0 && nivel != 0) {
      $.ajax({
        url: '/getinfo/',
        method: 'POST',
        data: { 'nivel': nivel, 'materia': materia }
      }).done((req) => {
        console.log('Request: ', req);
        let opciones = '<br>';
        opciones += '<label for="id_asignacion">Lista de Estudiantes</label>';
        opciones += '<select multiple class="form-select" required name="asignacion" id="id_asignacion" >';
        $.each(req, (key, val) => {
          opciones += '<option value="' + val.estudiantes.id_est + '">' + val.estudiantes.nombres_est + ' ' + val.estudiantes.apellidos_est + '</option>';
        });
        opciones += '</select>';
        opciones += '<br>';
        let datos = document.getElementById('estudiante');
        datos.innerHTML = opciones;
      });
    }else {
      document.getElementById('estudiante').innerHTML = '';
    }
  });
  
  $('#id_paralelo').on('change', function () {
    let id = $(this).val();
    if (id != 0) {
      $.ajax({
        url: '/getinfo/',
        method: 'POST',
        data: { 'id_paralelo': id, 'programa': '{{programa}}' }
      }).done((req) => {
        if (req) {
          console.log('Valor request: ', req);
          let selector = '<label for="id_asignacionEstudiantes">Asignación de Estudiantes</label>';
          selector += '<select class="form-select" name="asignacionEstudiantes" onclick="test(this)" required="required" id="asig_estu">';
          selector += '<option value="0">Seleccione un grupo</option>';
          $.each(req, (key, val) => {
            selector += '<option value="' + val.id + '">Estudiantes registrados en el Nivel ' + val.nivel + ',  (' + val.size + ') Registros </option>';
          });
          selector += '</select>'
          document.getElementById('opc_est').innerHTML = selector;
        }
      });
    } else {
      document.getElementById('opc_est').innerHTML = '';
    }

  });
  function test(data){
    let id = $('#asig_estu').val();
    if (id != 0) {
      $.ajax({
        url: '/getinfo/',
        method: 'POST',
        data: { 'id': id, 'programa': '{{programa}}' }
      }).done((req) => {
        console.log('Valor request: ', req);
        if (req) {
          let info = '<br>'
          info += '<div class="card" style="width: 18rem;">'
          info += '<div class="list-group">'
          info += '<a href="#" class="list-group-item list-group-item-action active" style="z-index:0;" >Lista de Estudiantes</a>'
          $.each(req, (key, val) => {
            info += '<a href="#" class="list-group-item list-group-item-action">' + val.est + '</a>'
          });
          info += '</div>'
          info += '</div>'

          document.getElementById('asig_est').innerHTML = info;
        }
      });
    } else {
      document.getElementById('asig_est').innerHTML = '';
    }

  }


  /*
  function solonumeros(e){
  
  key=e.keyCode || e.wich;
  teclado=String.fromCharCode(key);
  numeros="0123456789";
  especiales="8-37-38-46";
  teclado_especial=false;
  
  for (var in especiales){
    if(key==especiales[i]){
      teclado_especial=true;
    }
  }
  if (numeros.indexOf(teclado)==-1 && !teclado_especial){
    return false;
  }
    }
    */
</script>
<script>
  function soloLetras(e) {
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = [8, 37, 39, 46];
       tecla_especial = false
       for (var i in especiales) {
           if (key == especiales[i]) {
               tecla_especial = true;
               break;
           }
       }
       if (letras.indexOf(tecla) == -1 && !tecla_especial)
           return false;
   }
   function soloNumeros(e) {
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = "0987654321";
       especiales = [8, 37, 39, 46];
       tecla_especial = false
       for (var i in especiales) {
           if (key == especiales[i]) {
               tecla_especial = true;
               break;
           }
       }
       if (letras.indexOf(tecla) == -1 && !tecla_especial)
           return false;
   }

</script>
{% include "views/default/footer.html" %}