{% include "views/default/header.html" %}
{% include "views/default/direccion.html" %}





<div class="container">
  <div class="card">
    <div class="card-header">{{name}}</div>
    {{form.errors}}
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if info %}
        <h2> Está seguro de eliminar a <b style="color: red;">{{info.object}}</b> </h2>
        {% endif %}
        {% for field in form %}
        {% if field.name == 'estudiante' %}
        <label for="id_est">Estudiante</label>
        <select class="form-select" name="estudiante" required id="id_est">
          {% for i in estudiantes %}
          <option value="{{i.id_est}}">{{i.Estudiante}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'asignacion' %}
        <label for="id_asignacion">Estudiantes a matricular</label>
        <select class="form-select" name="asignacion" multiple required id="id_asignacion">
          {% for i in programa %}
          <option value="{{i.id_est}}">{{i}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'estudiantes' %}
        <label for="id_estudiantes">Estudiantes a matricular</label>
        <select class="form-select" name="estudiantes" multiple required id="id_estudiantes">
          {% for i in estudiantes %}
          <option value="{{i.id_est}}">{{i}}</option>
          {% endfor %}
        </select>
        <!-- CursoController - metodo AsignacionCursosAdd
        @param AsignacionCurso
        @action add AsignacionCursoEstudiante
        -->
        {% elif field.name == 'asignacionCurso' %}
        <label for="id_asignacionCurso">Asignación de Curso</label>
        <select class="form-select" name="asignacionCurso" required id="id_asignacionCurso">
          {% for i in addCursos %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
          <!-- Add link de ventana para agregar AsignacionCurso -->
          <a class="related-widget-wrapper-link add-related" id="add_id_asignacionCurso"
            href="/admin/User/asignacioncurso/add/?_to_field=id&amp;_popup=1" title="Añadir otro asignacion curso"><img
              src="/static/admin/img/icon-addlink.svg" alt="Añadir">Agregar</a><br>

        {% elif field.name == 'paralelo' %}
        <label for="id_paralelo">Seleccione matrícula actual</label>
        <select class="form-select" name="paralelo" required id="id_paralelo">
          {% for i in paralelo %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        <a class="related-widget-wrapper-link add-related"
          href="http://127.0.0.1:8000/admin/User/paralelo/add/?_to_field=id&_popup=1" id="add_id_paralelo"
          title="Añadir otra"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir">Añadir otra </a>

        <br>
        {% elif field.name == 'nivel' and niveles %}
        <br>
        {% elif field.name == 'materia' %}
        <label for="id_materia">Materia</label>
        <select class="form-select" name="materia" required id="id_materia">
          {% for i in materia %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'niveles' %}
        <label for="id_niveles">Seleccione el Nivel</label>
        <select class="form-select" name="niveles" required id="id_niveles">
          <option value="">Seleccione una opción</option>
          {% for i in nivel %}
          <option value="{{i.id}}">{{i}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'fecha_est' or field.name == 'fecha' or field.name == 'Fecha' %}
        <label for="{{field.name}}">{{field.label}}</label>
        <input type="date" name="{{field.name}}" class="form-control" id="{{field.name}}">
        {% elif field.name == 'estudiante' %}
        <label for="id_estudiante">Estudiantes</label>
        <select name="estudiante" id="id_estudiante" class="form-select">
          {% for i in estudianteAdd %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>

        {% elif field.name == 'curso_id' %}
        <label for="curso_id">Curso</label>
        <select name="curso_id" id="id_curso_id" class="form-select">
          {% for i in cursosUsuario %}
          <option value="{{i.id_curso}}">{{i.nombre_curso}}</option>
          {% endfor %}
        </select>
        {% elif field.name == 'id_rep' %}
        <input type="hidden" name="id_rep" value="{{request.user.pk}}">
        {% elif field.name == 'id_direccion' %}
        {{field.label}}
        <div class="input-group">
          {{field}}
          <div class="input-group-append">

            <a class="related-widget-wrapper-link add-related btn btn-outline-success " id="add_id_id_direccion"
              href="/admin/app/direccion/add/?_to_field=id_direc&amp;_popup=1" title="Añadir otro direccion"
              title="Añadir otro ciudad"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"
                type="button">Agregar otra</a>
            <br>

          </div>
        </div>
        <br>

        {% else %}
        {{field.label}}
        {{field}}
        {% endif %}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href='{{regresar}}' class="btn btn-primary">Regresar</a>
      </form>
    </div>
  </div>
</div>


<script>
  window.onload = function () {
    var anchor = document.getElementById("anchor");
    anchor.onclick = () => {
      var url = "http://127.0.0.1:8000/admin/User/paralelo/add/?_to_field=id&_popup=1";
      let a = window.open(url, "_blank", 'width=600,height=500');
    };

  }
</script>
{% include "views/default/footer.html" %}