{% include "views/default/header.html" %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>{{name}}</h2>
        </div>
        
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Estudiantes</th>
                        <th>Curso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for est in object_list %}
                    <tr>
                        <td> {{est}}</td>
                        <td>
                            {% for curso in est.id_curso.all %} 
                            <li> {{curso}} </li>
                            {% endfor %}

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- <div class="card-footer"> -->
            <!-- <a href="add" class="btn btn-success" > Agregar otra Matrícula </a> -->
            <!-- <a href="{% url 'asignacion_p' %}" class="btn btn-primary" > Regresar </a> -->
        <!-- </div> -->
    </div>
</div>
{% include "views/default/footer.html" %}