{% include "views/default/header.html" %}
{%load static%}



<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>




<ul class="container nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link " href="{%url 'PeriodoList'%}">Periodos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{%url 'ProgramaGeneralList'%}">Programa General</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" style="background-color: rgb(112, 165, 245);" aria-current="page" href="">Docente</a>
    </li>

</ul>





<div class="card container">


    <div class="card-body table-responsive ">
        <table class="table" id="table_estudiantes">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Nivel</th>
                    <th>Docente</th>
                    <th>Opciones</th>



                </tr>
            </thead>
            <tbody>
                {% for items in object_list %}
                <tr>
                    <td> {{items.programa_general}} </td>
                    <td> {{items.nivel}} </td>
                    <td> {{items.usuario}} </td>

                    <td>
                        <a href="" class="btn btn-warning" type="button">Editar</a>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
    <div class="card-footer">

        <a class="related-widget-wrapper-link add-related" id="add_id_paralelo"
            href="/admin/User/paralelo/add/?_to_field=id&amp;_popup=1" title="Añadir otro paralelo"><img
                src="/static/admin/img/icon-addlink.svg" alt="Añadir">Agregar Programa</a>

      



    </div>


</div>


{% include "views/default/footer.html" %}