{% include "views/default/header.html" %}


<div class="card container">
    <div class="card-header">{{name}}</div>

    <div class="card-body table-responsive ">
        {% for items in object_data %}

        <table class="table" id="table_estudiantes">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Curso</th>
                    <th>Programas</th>
                    <th>Nivel</th>
                    <th>Fecha</th>
                    <th>Matricula</th>
                </tr>
            </thead>
            <tbody>
                {% for est in items.asignacion %}
                <tr>
                    <td> {{est.estudiante}} </td>
                    <td> {{est.estudiante.Cursos}} </td>
                    <td> {{est.estudiante.Programas}} </td>
                    <td> {{est.nivel}} </td>
                    <td>
                        {% if est.matricula.nivel == est.nivel %}
                        {{est.matricula.fecha}} 
                        {% endif %}


                    </td>
                    <td>
                        {% for comp in est.comprobante %}
                            {% if est.matricula.matricula == True and comp.nivel == est.nivel and est.matricula.nivel == est.nivel %}
                            <input type="checkbox" checked disabled>
                            <a href="/media/{{comp.file_comp}}"> Ver Comprobante </a>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-10">
                                    {% if comp.nivel == est.nivel %}
                                    <form action="" method="POST" id="{{comp.id_est.id_est}}-{{est.nivel}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="estudiante" value="{{comp.id_est.id_est}}">
                                        <input type="hidden" name="fecha" value="{{date|lower}}">
                                        <input type="hidden" name="nivel" value="{{est.nivel}}">
                                        <select class="form-control" name="id_comp">
                                            <option value="{{comp.i_comp}}" selected>{{comp}}
                                            </option>
                                        </select>
                                        <a href="/media/{{comp.file_comp}}" target="_blank"
                                            class="btn btn-outline-dark" type="button"> Ver</a>
                                        <div class="col-lg-2">
                                            <input type="checkbox" class="form-check-input" name="matricula">
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endfor %}
    </div>
    <div class="card-footer">
        <button id="save" type="button" class="btn btn-success">Guardar</button>
        <a href="asignarprograma" type="button" class="btn btn-success">Asignación de Niveles</a>
        <a href="asignarcursos" type="button" class="btn btn-success">Matricula Cursos</a>
    </div>

    <script>
        $('#save').on('click', function () {
            let array = "{{noMatriculados}}".split(",")
            for (let index = 0; index < array.length - 1; index++) {
                const element = '#' + array[index];
                let form = $(element).serializeArray();
                console.log('Valo formulatio: ', form);
                if (form.length == 6) {
                    $.ajax({
                        url: 'add',
                        method: 'post',
                        data: form
                    }).done((req => {
                        if (req.error) {
                            alert('Error: ', req.errors);
                            return false;
                        }

                    }));
                }
            }
            alert('Matrícula registrada');
            location.reload();


        });


    </script>
</div>
    {% include "views/default/footer.html" %}