{% include "views/default/header.html" %}

<div class="container">
    <div class="row">
        {% if cursos_list %}
        {% for curso in cursos_list %}
        <div class="col-xs-6 col-md-2">
            <div class="card">
                <div class="card-header ">
                    <a href="programa/{{curso.id}}">
                        <img src="/media/{{ curso.imagen }}"  class="thumbnail" width="200" height="200" />
                    </a>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>{{ curso.nombre }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text"> <b> Horario de :</b></p>
                                    <p class="card-text">{{curso.horario }}</p>
                                    {% for i in detalle %}
                                    <ul>
                                        <li> {{ i }} </li>
                                    </ul>
                                    {% endfor %}
                                    <p class="card-text"></p>
                                    <form method="POST" action="Registrar">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{curso.id_curso}}"
                                        name="id_curso" size="1"/>
                                       <!-- <input type="submit" class="btn btn-success btn-sm" value="Resgistrar">-->
                                      
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No hay cursos disponibles.</p>
        {% endif %}
    </div>
    <br>
    <a class="btn btn-primary" href="javascript:history.back()"> Volver Atrás</a>
    <br>
</div>







        </table>
    </div>
   
    <script>

        $(document).ready(function () {
            $('#table_listado').DataTable({
                language: {
                    "lengthMenu": "Elementos _MENU_ por página",
                    "zeroRecords": "Sin resultados",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin resultados",
                    "infoFiltered": "(Filtrado de _MAX_ elementos registrados)",
                    "search" : 'Buscar: ',

                    'paginate' :{
                        'first' : 'Primero',
                        'last' : 'Ultimo',
                        'next' : 'Siguiente',
                        'previous' : 'Anterior',
                    }

                },
                responsive: true,
                autoWidth: false,
                destroy: true,
                referRender: true,
                ajax: {
                    url: '',
                    type: 'POST',
                    data: { 'action': 'listado' },
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        targets: [7],
                        orderable: false,
                        render: function (data, type, row) {
                            let btn = ''
                            if (row[7] == true) {
                                btn = '<b style="color: green;">Aprobado</b>'


                            } else {

                                btn = '<b style="color: red;" >Reprobado</b>'
                            }
                            return btn;
                        }
                    },
                    {
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row) {
                            let btn = '<a href="edit/' + row[8] + '" class="btn btn-outline-warning">Editar</a>'
                            return btn;
                        }
                    }, {
                        targets: [0],
                        orderable: false,
                        render: function (data, type, row) {
                            let btn = '<b style="color: blue;">' + data + '</b>'
                            return btn;
                        }
                    },
                ]

            });


        });
    </script>
    {% include "views/default/footer.html" %}