.card-body{
    margin-top:-10px;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    background: radial-gradient(#F9A9CF,#F6D1E3,#D4EBDB,#B8C3E1);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.presentacion {
    height: 421 px;
    width: 51%;
    display: flex;
    margin: auto;
    border-radius: 7px;
    box-shadow: 1px 14px 32px 1px rgba(0,0,0,0);
    overflow: hidden;
    box-sizing: border-box;
}


