{% include "views/default/header.html" %}
{%load static%}
<div class="container">
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Cambio de contraseña</h1>
        <div id="content-main">

            <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                    value="6jmkRNCw6qNIxQqj8P2hGp4cVJKgvYmxJdyRuLWJTsEaQSJHIAiXXR8cdl0tC3aY">
                <div>



                    <p>Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos
                        veces para que podamos verificar que la ingresó correctamente.</p>

                    <fieldset class="module aligned wide">

                        <div class="form-row">

                            <label class="required" for="id_old_password">Contraseña antigua:</label> <input
                                type="password" name="old_password" class="form-control" autocomplete="current-password"
                                autofocus="" required="" id="id_old_password">
                        </div>

                        <div class="form-row">

                            <label class="required" for="id_new_password1">Contraseña nueva:</label> <input
                                class="form-control" type="password" name="new_password1" autocomplete="new-password"
                                required="" id="id_new_password1">

                            <div class="help">
                                <ul>
                                    <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                                    <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                    <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                                    <li>Su contraseña no puede ser completamente numérica.</li>
                                </ul>
                            </div>

                        </div>

                        <div class="form-row">

                            <label class="required" for="id_new_password2">Contraseña nueva (confirmación):</label>
                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password"
                                required="" id="id_new_password2">

                        </div>

                    </fieldset>
                    <br>
                    <div class="submit-row">
                        <input type="submit" value="Cambiar mi contraseña" class="btn btn-success">
                        <input type="button" class="btn btn-primary" onclick="history.back()" name="Regresar"
                            value="Regresar">
                    </div>

                </div>
            </form>
        </div>



        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
{% include "views/default/footer.html" %}