{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menù Lateral con Css</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sheetslider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <!-- <script src="{%static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script> -->
    <script src="{%static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/fancybox/jquery.fancybox.css' %}">

    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/slippry.css' %}">
    <!--<link href="assets/css/style.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="{% static 'color/default.css' %}">
    <script src="{% static 'js/modernizr.custom.js' %}"></script>


</head>

<body>
    <div class="container">
        <div class="btn-menu">
            <label style="color: black;" for="btn-menu"><img src="{%static 'images/menu.png'%}" class="imgmenu"> </label>
        </div>

    </div>
    <div class="capa"></div>
    <!--	--------------->


    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            {% if user.is_authenticated %}

            {% if request.user.is_superuser %}
            <nav>

                <a href="/admin/"><img src="{%static 'images/admin.png'%}" class="imgmenu">
                    <p> Aministrador total</p>
                </a>
                <a href="/adduser"><img src="{%static 'images/add_user.png'%}" class="imgmenu">
                    <p> Registrar Nuevos Usuarios</p>
                </a>
                <a href="/admin/auth/group/"><img src="{%static 'images/grupos.png'%}" class="imgmenu">
                    <p> Roles</p>
                </a>

            </nav>

            {% else %}
            {% for i in request.user.groups.all %}
            <nav>

                {% if i.name == 'Representante' %}

                <a href="/representante/"><img src="{%static 'images/graduado.png'%}" class="imgmenu">
                    <p>Datos del Estudiante</p>
                </a>
                <a href="/representante/salud"><img src="{%static 'images/salud.png'%}" class="imgmenu">
                    <p>Ficha de Salud</p>
                </a>
                <a href="representante/listcomprobante/"><img src="{%static 'images/pago.png'%}" class="imgmenu">
                    <p>Comprobante Pagado</p>
                </a>
                {% endif %}
                {% if i.name == 'Docentes' %}
                <a href="docentes/"><img src="{%static 'images/graduado.png'%}" class="imgmenu">
                    <p>Listado de Cursos</p>
                </a>

                
                </a>
                {% endif %}
                {% if i.name == 'Asistente' %}
                <a href="asistente/"> <img src="{%static 'images/graduado.png'%}" class="imgmenu">
                    <p>Listado de estuadiantes</p>
                </a>
                <a href="asistente/horarios"><img src="{%static 'images/horario.png'%}" class="imgmenu">
                    <p>Horarios</p>
                <a href="asistente/talentohumano"><img src="{%static 'images/talento.png'%}" class="imgmenu">
                    <p>Talento Humano</p>
                </a>
                <!--<a href=""><img src="{%static 'images/cursos.png'%}" class="imgmenu">
                    <p>Agregar cursos</p>
                </a>-->
                {% endif %}


            </nav>



            {% endfor %}
            {% endif %}
            {% endif %}




            <label for="btn-menu">✖️</label>
        </div>
    </div>
</body>

</html>